
<div class="container-fluid my-3 cards-post" *ngIf="posts">
<!-- Cuando la variable post tenga contenido miestre este div -->
  
  <h1>{{ page_title }}</h1>
  <hr>

  <div class="card__custom" *ngFor="let post of posts" style="width: 30%;" >
    <img [src]="url +'post/image/' + post.image" [alt]="post.title" class=""/>
    <a class="card__custom-title" [routerLink]="[ '/entrada',post.id]" > {{ post.title}}</a>
 
      <!-- Botones -->
      <div class="post-buttons m-3">
      <a [routerLink]="[ '/entrada',post.id]" class="mr-2 btn btn-success">Leer</a> 
      <span *ngIf="indentity && indentity.sub == post.user_id">
        <a [routerLink]="[ '/editar-entrada',post.id]" title="Editar" class="mr-2 btn btn-primary">&#9999;</a>
        <a  class="btn btn-danger" style="color: #fff" title="Eliminar"
        data-toggle="modal" [attr.data-target]="'#modalborrapost'+post.id">X</a>
      </span>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="{{ 'modalborrapost'+ post.id}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Borrar Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿ Está seguro que quiere eliminar el post ?<br/></p>
              <h5><b>"{{  post.title }}"</b></h5>
               
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
             (click)="deletepost(post.id)">
              Borrar Post
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="loading" *ngIf="!posts">
  <div class="d-flex justify-content-center align-items-center " style="text-align: center; margin: auto; width: 50vw; height: 70vh;">
    <div class="">
      <h4 >Cargando posts ...</h4>
      <img src="assets/images/load.gif" class="img__cargando" alt="">
    </div>
  </div>
</div>


