<div class="container">
  <nav class="navbar navbar-expand-lg mt-3">
    <a class="navbar-brand brang-cursive" [routerLink]="[ '/home' ]">
        <img src="assets/images/travel.svg" width="40" height="40" alt="logo NG-Blog"/>
      Travel Blog
    </a>
    <button class="navbar-toggler border" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            &#x2631;
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Categorias
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngFor="let category of categories" class="dropdown-item" 
                [routerLink]="['categoria', category.id]">
                  {{ category.name}}
                </a>
              </div>
            </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" [routerLink]="[ '/login' ]">
                <span class="material-icons">
                  arrow_circle_up
                  </span>
                Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"[routerLink]="[ '/registro' ]">
                <span class="material-icons">
                  assignment_ind
                  </span>
                Registro</a>
            </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
          <li *ngIf="identity && identity.userall.image" class="nav-item">
              <div class="avatar_mask m-0 p-0 ">
                  <img src="{{ urlapi + 'user/avatar/' + identity.userall.image }}" 
                  alt="Imagen Avatar User">
              </div>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ identity.name  + ' '+ identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-post']">
              <span class="material-icons">
                note_add
                </span>
              Crear post</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">
              <span class="material-icons">
                library_books
                </span>
              Crear categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/perfil', identity.sub]">
              <span class="material-icons">
                article
                </span>
              Mis Posts</a>
            <a class="dropdown-item" [routerLink]="[ '/ajustes']">
              <span class="material-icons">
                miscellaneous_services
                </span>
              Ajustes</a>
            <a class="dropdown-item" [routerLink]="[ '/logout/1']">
              <span class="material-icons">
                near_me_disabled
                </span>
              Salir</a>
          </div>
        </li>
      </ul>
  
    </div>
  </nav>

  <router-outlet></router-outlet>
  
</div>